@import "../../../styles/shared.scss";

.btn {
    width: 100px;
    height: 23px;
    background-color: $primaryColor;
    border-radius: 80px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: $primaryColor;
}
