@import "../../styles/shared.scss";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}


.title {
    width: 328px;
    margin-bottom: 21px;
    
    font-weight: 400;
    font-size: 40px;
    line-height: 1;

    color: $textColor;

    @include for-size(tablet) {
        width: 380px;
    }
}

.text {
    width: 328px;
    margin-bottom: 21px ;
    
    font-size: 16px;
    line-height: 1.62;

    color: $textColor;

    @include for-size(tablet) {
         width: 380px;
    }
}