@import "../../styles/shared.scss";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}


.title {
    width: 380px;
    margin-bottom: 21px;

    color: $textColor;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.text {
    width: 380px;
    color: $textColor;

    font-size: 16px;
    line-height: 26px;
}