@import "styles/shared.scss";

.container {
    margin: 0 auto;
    width: 360px;
    padding: 0 16px;

        @include for-size(tablet) {
            width: 768px;
            padding: 0 32px;
        }
        
        @include for-size(desktop) {
            width: 1024px;
            padding: 0 60px;
        }
        @include for-size(desktop-up) {
            width: 1170px;
            padding: 0;
        }
}
