@mixin for-size($range) {
    $mobile: 328px;
    $tablet: 704px;
    $desktop: 904px;
    $desktop-up: 1170px;

    @if $range == mobile-only {
        @media screen and (max-width: #{$tablet - 1}) {
            @content;
        }
    }

    @else if $range == tablet {
        @media screen and (min-width: $tablet) {
            @content;
        }
    }

    @else if $range == desktop {
        @media screen and (min-width: $desktop) {
            @content;
        }
    }

    @else if $range == desktop-up {
        @media screen and (min-width: $desktop-up) {
            @content;
        }
    }
}