@import "./shared.scss";

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: $backGroundColor;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}