@import "../../../styles/shared.scss";

.item {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 254px;
    margin-bottom: 20px;

    border-radius: 10px;
    background-color: $secondBeground;
}

.photo {
    width: 70px;
    height: 70px;

    margin-top: 20px;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.position,.name, .email, .phone {

    font-size: 16px;
    line-height: 1.625;
    color: $colorName;

    width: 248px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


